* {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: small;
}

p#alerts {
    color: slategray;
}

p#alerts.success {
    color: green;
}

p#alerts.fail {
    color: #ff0000;
}

#content {
    margin: 20px;
}

#header .title {
    width: 500px;
    float: left;
    height: 100px;
}

#header .menu {
    float: left;
    display: inline-block;
}

#header .menu input {
    margin-top: 40px;
    /*margin: auto;*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

.group-row {
    position: relative;
    background-color: white;
    margin: 5px 0;
    /*overflow-x:scroll;*/
}

.group-row-title {
    color: white;
    background-color: #990000;
    width: 200px;
    height: 24px;
    text-align: center;
}

.instance {
    position: relative;
    height: 216px;
    border: 1px solid rgb(133, 133, 133);
    margin-top: 5px;
    padding-left: 24px;
    white-space: nowrap;
    overflow-y: hidden;
}

.instance:hover {
    overflow-x:scroll;
}

.instance-title {
    position: absolute;
    left: -96px;
    top: 96px;
    width: 216px;
    height: 24px;
    text-align: center;
    background-color: rgb(133, 133, 133);
    color: white;
}

.instance .chart {
    height: 180px;
    width: 300px;
    /*float: left;*/
    /*display: inline;*/
}

.instance .chart .legend {
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    z-index: 100;
}

.instance .chart .legend table{
    border: 1px solid black;
    background-color: white;
}
.instance .chart:hover .legend {
    display: block;
}

.instance .chart .legendLabel {
    font-size: 11px;
}

.instance .chart .legendColorBox {
    vertical-align: middle;
}

.instance .chart-title {
    color: black;
    text-align: center;
    display:inline-block;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

