body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    /*padding: 0;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fff;  /*#333;*/
    /*font-family: 'PT Sans Narrow', sans-serif;*/
    font-size: medium;
}


p#alerts {
    color: slategray;
    font-size: small;
}

p#alerts.success {
    color: green;
}

p#alerts.fail {
    color: #ff0000;
}

#header .title {
    width: 300px;
    float: left;
    margin: 10px;
}

#header .menu {
    float: left;
    display: inline-block;
    font-size: small;
}

#header .menu input {
    margin-top: 20px;
    /*margin: auto;*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.4;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.4;
    }
}

#content {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#content text {
    font-weight: 300;
    font-size: 14px;
}

#content .node rect {
    stroke-width: 1.5px;
    stroke: #bbb;
    fill: #666;
}

#content .node.warn rect {
    stroke: #dbb;
    fill: #966;
}

#content .status {
    height: 100%;
    width: 15px;
    display: block;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 4px;
}

/*#content .state_normal .status {*/
    /*background-color: #ffed68;*/
/*}*/

#content .high .status {
    background-color: #f77;
}

#content .maybe_high .status {
    background-color: #ffed68;
}

#content .normal .status {
    background-color: #7f7;
}

#content .maybe_low .status {
    background-color: #6cffe2;
}

#content .low .status {
    background-color: #77f;
}

/*#content .warn .metrics {*/
    /*color: #f77;*/
/*}*/

.warn {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
    -webkit-animation-name: flash;
    animation-name: flash;
}

#content .lbl {
    margin-right: 2px;
}

#content .lbl,
#content .name {
    margin-top: 4px;
}

#content .lbl {
    font-weight: bold;
}

/*#content .consumers:after {*/
    /*content: "x";*/
/*}*/

#content .metrics .counter.cpu:after{
    content: "%";
}

#content .host {
    display: block;
    float: left;
    width: 130px;
    font-size: 12px;
    margin-top: 2px;
}

#content .metrics {
    display: block;
    float: left;
    width: 130px;
    height: 20px;
    font-size: 12px;
    margin-top: 2px;
}

#content .node g div {
    width: 200px;
    height: 60px;
    color: #fff;
}

#content .node g div span.lbl {
    display: inline-block;
    width: 20px;
}

#content .edgeLabel text {
    width: 50px;
    fill: #fff;
}

#content .edgePath path {
    stroke: #999;
    stroke-width: 1.5px;
    fill: #999;
}